@import "tailwindcss";



@font-face {
  font-family: 'vazir';
  src: url('/Fonts/Vazir.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iransansweb';
  src: url('/Fonts/iransansweb.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'yekan';
  src: url('/Fonts/yekan.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'yekanh';
  src: url('/Fonts/yekanheavy.ttf') format('truetype');
  font-weight:bolder;

}
@font-face {
  font-family: 'titr';
  src: url('/Fonts/titr.ttf') format('truetype');
  font-weight: 900;

}
.yekanh{
  font-family: "yekanh";
}
.titr{
  font-family: "titr";
}
.iransans{
  font-family: "iransansweb";
}


.vazir{
  font-family: 'vazir'!important;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
 
}

@theme {
  --background-color: #191919; /* پس‌زمینه پیش‌فرض */
  --primary-color: #06ec7d;    /* رنگ اصلی پیش‌فرض */
}

*{
  font-family: "yekan";
}
/* تنظیمات پایه کانتینر */
.ccontainer {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

/* اندازه‌های پیش‌فرض برای تگ‌ها */
html {
  font-size: 16px; /* اندازه پایه */
}

body {
  background-color: var(--background-color);
}
/* تنظیمات برای موبایل */
@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
  
  .ccontainer {
    width: 100%;
  }
}

/* تنظیمات برای تبلت */
@media screen and (min-width: 601px) and (max-width: 899px) {
  html {
    font-size: 15px;
  }
  
  .ccontainer {
    width: 92%;
  }
}


/* تنظیمات برای نمایشگرهای بزرگ */
@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  
  .ccontainer {
    width: 95%;
  }
}


@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.pulse-on-click {
  animation: pulse 0.3s ease-in-out;
}